<section class="cursos container-fluid">
  <h1 class="fw-bold text-uppercase">Nuestros</h1>
  <h2 class="fw-bold text-uppercase text-custom-orange">
    <strong>CURSOS</strong>
  </h2>
  <ul class="nav nav-pills mb-4" id="cursos-tab" role="tablist">
    <li class="nav-item" role="presentation">
      <button
        class="nav-link active"
        id="tecnologia-tab"
        data-bs-toggle="pill"
        data-bs-target="#tecnologia"
        type="button"
        role="tab"
      >
        Tecnología
      </button>
    </li>
    <li class="nav-item" role="presentation">
      <button
        class="nav-link"
        id="negocios-tab"
        data-bs-toggle="pill"
        data-bs-target="#negocios"
        type="button"
        role="tab"
      >
        Negocios
      </button>
    </li>
    <li class="nav-item" role="presentation">
      <button
        class="nav-link"
        id="productividad-tab"
        data-bs-toggle="pill"
        data-bs-target="#productividad"
        type="button"
        role="tab"
      >
        Productividad
      </button>
    </li>
    <li class="nav-item" role="presentation">
      <button
        class="nav-link"
        id="gestion-tab"
        data-bs-toggle="pill"
        data-bs-target="#gestion"
        type="button"
        role="tab"
      >
        Gestión
      </button>
    </li>
  </ul>
  <div class="tab-content" id="cursos-tabContent">
    <div class="tab-pane fade show active" id="tecnologia" role="tabpanel">
      <div class="row g-4">
        @for (curso of cursos.tecnologia; track curso.title) {
        <div class="col-custom">
          <div
            class="card-curso"
            [style.backgroundImage]="'url(' + curso.imgSrc + ')'"
          >
            <div class="card-curso-content">
              <h5 class="card-title">{{ curso.title }}</h5>
              <a href="#" class="card-link">Ver curso</a>
            </div>
          </div>
        </div>
        }
      </div>
    </div>
    <div class="tab-pane fade" id="negocios" role="tabpanel">
      <div class="row g-4">
        @for (curso of cursos.negocios; track curso.title) {
        <div class="col-custom">
          <div
            class="card-curso"
            [style.backgroundImage]="'url(' + curso.imgSrc + ')'"
          >
            <div class="card-curso-content">
              <h5 class="card-title">{{ curso.title }}</h5>
              <a href="#" class="card-link">Ver curso</a>
            </div>
          </div>
        </div>
        }
      </div>
    </div>
    <div class="tab-pane fade" id="productividad" role="tabpanel">
      <div class="row g-4">
        @for (curso of cursos.productividad; track curso.title) {
        <div class="col-custom">
          <div
            class="card-curso"
            [style.backgroundImage]="'url(' + curso.imgSrc + ')'"
          >
            <div class="card-curso-content">
              <h5 class="card-title">{{ curso.title }}</h5>
              <a href="#" class="card-link">Ver curso</a>
            </div>
          </div>
        </div>
        }
      </div>
    </div>
    <div class="tab-pane fade" id="gestion" role="tabpanel">
      <div class="row g-4">
        @for (curso of cursos.gestion; track curso.title) {
        <div class="col-custom">
          <div
            class="card-curso"
            [style.backgroundImage]="'url(' + curso.imgSrc + ')'"
          >
            <div class="card-curso-content">
              <h5 class="card-title">{{ curso.title }}</h5>
              <a href="#" class="card-link">Ver curso</a>
            </div>
          </div>
        </div>
        }
      </div>
    </div>
  </div>
</section>
