<section class="sponsors container-fluid text-center">
  <h1 class="fw-bold text-uppercase">Nuestros</h1>
  <h2 class="fw-bold text-uppercase text-custom-orange">
    <strong>Sponsors</strong>
  </h2>
  <div
    class="d-flex justify-content-center align-items-center flex-wrap gap-5 mt-4"
  >
    <img
      src="https://upload.wikimedia.org/wikipedia/commons/7/71/Ubiquiti_Logo.png"
      alt="Sponsor 1"
      class="sponsor-logo"
    />
    <img
      src="https://uraa.unitru.edu.pe/images/logo-footer.png"
      alt="Sponsor 2"
      class="sponsor-logo"
    />
    <img
      src="https://www.unasam.edu.pe/img/unasam.png"
      alt="Sponsor 3"
      class="sponsor-logo"
    />
  </div>
</section>
