<section class="why-us container-fluid">
  <h2 class="fw-bold text-uppercase">¿Por qué</h2>
  <h1 class="fw-bold text-uppercase text-custom-orange">
    <strong>CEDP S.A.C?</strong>
  </h1>
  <div class="row g-4 mt-4">
    <div class="col-lg-6">
      <div class="why-us-item">
        <div class="icon-container">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <path d="M16 21v-2a4 4 0 0 0-4-4H6a4 4 0 0 0-4 4v2"></path>
            <circle cx="9" cy="7" r="4"></circle>
            <path d="M22 21v-2a4 4 0 0 0-3-3.87"></path>
            <path d="M16 3.13a4 4 0 0 1 0 7.75"></path>
          </svg>
        </div>
        <div>
          <h5 class="fw-bold">COMPROMISO</h5>
          <p>
            Somos conscientes de la importancia del trabajo, así como de nuestra
            responsabilidad; por ello brindamos un servicio de calidad.
          </p>
        </div>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="why-us-item">
        <div class="icon-container">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <path d="M14 9.5a4 4 0 1 1-8 0 4 4 0 0 1 8 0z"></path>
            <path
              d="M14 9.5H5.43a1 1 0 0 0-.9 1.45l.22.39.22.38a1 1 0 0 0 .9.58h8.26a1 1 0 0 0 .9-.58l.22-.38.22-.39a1 1 0 0 0-.9-1.45H14z"
            ></path>
            <path d="M17.5 13.5a4 4 0 1 1-8 0 4 4 0 0 1 8 0z"></path>
            <path d="m20 13-1.5-1.5"></path>
            <path d="M22 11h-2"></path>
            <path d="m14 13 1.5 1.5"></path>
            <path d="M12 15v2"></path>
          </svg>
        </div>
        <div>
          <h5 class="fw-bold">INTEGRIDAD</h5>
          <p>
            En nuestra institución predomina la confianza, seriedad y
            responsabilidad.
          </p>
        </div>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="why-us-item">
        <div class="icon-container">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <path d="M22 10v6M2 10l10-5 10 5-10 5z"></path>
            <path d="M6 12v5c0 1.7 2.7 3 6 3s6-1.3 6-3v-5"></path>
          </svg>
        </div>
        <div>
          <h5 class="fw-bold">CALIDAD</h5>
          <p>
            Aseguramos la excelencia en nuestro servicio, con los mejores
            profesionales.
          </p>
        </div>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="why-us-item">
        <div class="icon-container">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <rect width="20" height="14" x="2" y="3" rx="2"></rect>
            <line x1="8" x2="16" y1="21" y2="21"></line>
            <line x1="12" x2="12" y1="17" y2="21"></line>
          </svg>
        </div>
        <div>
          <h5 class="fw-bold">TECNOLOGÍA</h5>
          <p>
            Contamos con la mejor tecnología para brindar cursos de calidad.
          </p>
        </div>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="why-us-item">
        <div class="icon-container">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <path
              d="M16 16h3a1 1 0 0 0 1-1V5a1 1 0 0 0-1-1H5a1 1 0 0 0-1 1v10a1 1 0 0 0 1 1h3"
            ></path>
            <path d="M12 12a4 4 0 0 1 0-8 4 4 0 0 1 0 8z"></path>
            <path d="M12 16v4a2 2 0 0 1-2 2H8a2 2 0 0 1-2-2v-4"></path>
            <path d="m12 12-2-3"></path>
            <path d="m14 9 2-3"></path>
            <path d="M12 12a4 4 0 0 0 0 8 4 4 0 0 0 0-8z"></path>
          </svg>
        </div>
        <div>
          <h5 class="fw-bold">EQUIDAD</h5>
          <p>
            Actuamos con justicia, igualdad e imparcialidad en la búsqueda de un
            impacto social inclusivo y positivo.
          </p>
        </div>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="why-us-item">
        <div class="icon-container">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <path d="M5 12.55a11 11 0 0 1 14.08 0"></path>
            <path d="M1.42 9a16 16 0 0 1 21.16 0"></path>
            <path d="M8.53 16.11a6 6 0 0 1 6.95 0"></path>
            <line x1="12" x2="12.01" y1="20" y2="20"></line>
          </svg>
        </div>
        <div>
          <h5 class="fw-bold">VIRTUALIDAD</h5>
          <p>Conéctate al conocimiento, estés donde estés.</p>
        </div>
      </div>
    </div>
  </div>
</section>
