<section class="diplomados container-fluid">
  <h1 class="fw-bold text-uppercase">Nuestros</h1>
  <h2 class="fw-bold text-uppercase text-custom-orange">
    <strong>DIPLOMADOS</strong>
  </h2>
  <ul class="nav nav-pills mb-4" id="diplomados-tab" role="tablist">
    <li class="nav-item" role="presentation">
      <button
        class="nav-link active"
        data-bs-toggle="pill"
        data-bs-target="#diplomados-educacion"
        type="button"
        role="tab"
      >
        Educación
      </button>
    </li>
    <li class="nav-item" role="presentation">
      <button
        class="nav-link"
        data-bs-toggle="pill"
        data-bs-target="#diplomados-ingenieria"
        type="button"
        role="tab"
      >
        Ingeniería
      </button>
    </li>
    <li class="nav-item" role="presentation">
      <button
        class="nav-link"
        data-bs-toggle="pill"
        data-bs-target="#diplomados-salud"
        type="button"
        role="tab"
      >
        Salud
      </button>
    </li>
    <li class="nav-item" role="presentation">
      <button
        class="nav-link"
        data-bs-toggle="pill"
        data-bs-target="#diplomados-direccionygerencia"
        type="button"
        role="tab"
      >
        Dirección y Gerencia
      </button>
    </li>
  </ul>

  <div class="tab-content" id="diplomados-tabContent">
    <div
      class="tab-pane fade show active"
      id="diplomados-educacion"
      role="tabpanel"
    >
      <div class="row g-4">
        @for (diplomado of diplomados.educacion; track diplomado.title) {
        <div class="col-custom">
          <div
            class="card-curso"
            [style.backgroundImage]="'url(' + diplomado.imgSrc + ')'"
          >
            <div class="card-curso-content">
              <h5 class="card-title">{{ diplomado.title }}</h5>
              <a href="#" class="card-link">Ver diplomado</a>
            </div>
          </div>
        </div>
        }
      </div>
    </div>
    <div class="tab-pane fade" id="diplomados-ingenieria" role="tabpanel">
      <div class="row g-4">
        @for (diplomado of diplomados.ingenieria; track diplomado.title) {
        <div class="col-custom">
          <div
            class="card-curso"
            [style.backgroundImage]="'url(' + diplomado.imgSrc + ')'"
          >
            <div class="card-curso-content">
              <h5 class="card-title">{{ diplomado.title }}</h5>
              <a href="#" class="card-link">Ver diplomado</a>
            </div>
          </div>
        </div>
        }
      </div>
    </div>
    <div class="tab-pane fade" id="diplomados-salud" role="tabpanel">
      <div class="row g-4">
        @for (diplomado of diplomados.salud; track diplomado.title) {
        <div class="col-custom">
          <div
            class="card-curso"
            [style.backgroundImage]="'url(' + diplomado.imgSrc + ')'"
          >
            <div class="card-curso-content">
              <h5 class="card-title">{{ diplomado.title }}</h5>
              <a href="#" class="card-link">Ver diplomado</a>
            </div>
          </div>
        </div>
        }
      </div>
    </div>
    <div
      class="tab-pane fade"
      id="diplomados-direccionygerencia"
      role="tabpanel"
    >
      <div class="row g-4">
        @for (diplomado of diplomados.direccionYgerencia; track diplomado.title)
        {
        <div class="col-custom">
          <div
            class="card-curso"
            [style.backgroundImage]="'url(' + diplomado.imgSrc + ')'"
          >
            <div class="card-curso-content">
              <h5 class="card-title">{{ diplomado.title }}</h5>
              <a href="#" class="card-link">Ver diplomado</a>
            </div>
          </div>
        </div>
        }
      </div>
    </div>
  </div>
</section>
