* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

.main-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
  /* ocupa todo el espacio restante */
}
