<footer class="site-footer">
  <div class="container">
    <div class="row">

      <div class="col-lg-4 col-md-12 mb-4 mb-lg-0 text-center text-lg-start">
        <img src="logo.png" class="footer-logo mb-3">
        <h5 class="company-name">CENTRO DE ESTUDIOS Y DESARROLLO PROFESIONAL S.A.C.</h5>
        <p class="ruc-text">RUC: 20561198684</p>
      </div>

      <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
        <h5 class="footer-title">Información Legal:</h5>
        <ul class="list-unstyled">
          <li><a href="#" class="footer-link">Políticas de Privacidad</a></li>
          <li><a href="#" class="footer-link">Términos y Condiciones</a></li>
        </ul>
      </div>

      <div class="col-lg-5 col-md-6 mb-4 mb-lg-0">
        <h5 class="footer-title">CONTÁCTANOS:</h5>
        <ul class="list-unstyled contact-info">
          <li>
            <a href="https://wa.me/51956782481" target="_blank" class="footer-link">
              <i class="fab fa-whatsapp contact-icon"></i> +51 956 782 481
            </a>
          </li>
          <li>
            <a class="footer-link">
              <i class="fas fa-envelope contact-icon"></i> cedpsac
            </a>
          </li>
          <li>
            <a href="#" target="_blank" class="footer-link">
              <i class="fab fa-facebook-f contact-icon"></i> Cedpsac
            </a>
          </li>
        </ul>
      </div>

    </div>
  </div>
</footer>
